@import 'https://fonts.googleapis.com/css?family=Homemade+Apple|Open+Sans|Pacifico|Coustard|Abel|Fredoka+One|Arima+Madurai';

body {
  /* background: linear-gradient(-45deg, #ee7752, #e73c7e, #23a6d5, #23d5ab); */
  /* background: linear-gradient(-45deg, #202040, #202060, #602080, #b030b0); */
  /* background: linear-gradient(-45deg, #352f44, #2a2438, #411e8f, #310a5d); */
	background: linear-gradient(-45deg, #1d3e53, #254b62, #476d7c, #77abb7);
  
  
  
	background-size: 2000% 2000%;
  animation: gradient 15s ease infinite;  

  color: white;
  
  /* footer */
  min-height: calc(100vh - 70px);
}

footer {
  height: 50px;
  text-align: center;
  font-family: 'Arima Madurai';
}

@keyframes gradient {
	0% {
		background-position: 0% 50%;
	}
	50% {
		background-position: 100% 50%;
	}
	100% {
		background-position: 0% 50%;
	}
}

.blur{
  filter: blur(2px);
}

.nav-bar, .nav-bar:hover, .nav-bar:visited{
  color: #ffffff;
  text-decoration: none;
  background-color: rgba(0, 0, 0, 0);

  text-align: center;
  font-family: 'Arima Madurai';
}

.selected{
  position: relative;
  display: inline-block;
  z-index:0;
}
.selected:before {
  content: '';
  position: absolute;
  z-index: -10;
  left: 0;
  right: 0;
  bottom: -5px;
  height: 0;
  border: 2px solid white;
  border-radius : 2px;
}

/* svg path */

.container {
  display: flex;
  place-content: center;
  overflow: hidden;
}

.item {
  width: 100%;
  overflow: visible;
  stroke: #fff;
  stroke-width: 2;
  stroke-linejoin: round;
  stroke-linecap: round;
}

@media (min-width: 992px) {
  .item {width: 60%;}
}