@import 'https://fonts.googleapis.com/css?family=Pacifico|Raleway';

body {
  background-color: #eeeeee;
  
	background-size: 100% 100%;

  color: #222831;

  /* footer */
  min-height: calc(100vh - 70px);
}

footer {
  height: 50px;
  text-align: center;
  font-family: 'Raleway';
  
}

@keyframes gradient {
	0% {
		background-position: 0% 50%;
	}
	50% {
		background-position: 100% 50%;
	}
	100% {
		background-position: 0% 50%;
	}
}

.blur{
  filter: blur(2px);
}

.nav-bar, .nav-bar:hover, .nav-bar:visited{
  color: #222831;
  text-decoration: none;
  background-color: rgba(0, 0, 0, 0);

  text-align: center;
  font-family: 'Raleway';

  margin: 0.5em;
}

.selected{
  position: relative;
  /* display: inline-block; */
  /* z-index:0; */
}
.selected:before {
  content: '';
  position: absolute;
  z-index: -10;
  left: 0;
  right: 0;
  bottom: -5px;
  height: 0;
  border: 2px solid #222831;
  border-radius : 2px;
}

/* svg path */

.container {
  display: flex;
  place-content: center;
  overflow: visible;
}

.item {
  width: 100%;
  overflow: visible;
  stroke: #222831;
  stroke-width: 4;
  stroke-linejoin: round;
  stroke-linecap: round;
}

@media (min-width: 992px) {
  .item {width: 60%;}
}